.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
   
}

.box{
    height: 100%;
    
 
}

.box2{
   display: flex;
   flex-wrap: wrap;
    height: 100%;
    width: 400px;
}



p{
    font-size: 10px;
}


img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
}




@media (max-width: 400px) {
    img{
        border-radius: 50%;
        width: 200px;
        height: 200px;
    }   
}

pre{
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: bold;
}

@media (max-width: 400px) {
    pre{
        font-size: 10px;

    }   
}

.text{
    margin-top: 100px;
    font-size: 15px;
    line-break: 10px;
    
}



.next:hover{
    background-color: aquamarine;
}



